@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
.auth__main {
	align-items: center;
	background-image: url('https://fondosmil.com/fondo/508.jpg');

	display: flex;
	justify-content: center;
	margin: 0px;
	height: 100vh;
	width: 100vw;
}
.auth__box-container {
	background-color: white;
	box-shadow: 0px 5px $dark-grey;
	border-radius: 2px;
	padding: 20px;
	width: 250px;
}

.auth__title {
	color: darken($color: $primary, $amount: 10);
	font-family: 'Nunito';
	margin-bottom: 20px;
	text-align: center;
}
.auth__input {
	color: $dark-grey;
	border: 0px;
	border-bottom: 2px solid $light-grey;
	font-size: 15px;
	margin-bottom: 5px;
	height: 18px;
	width: 100%;

	transition: border-bottom 0.4s ease-in;

	&:focus {
		outline: none;
		border-bottom: 2px solid $primary;
	}
}

.auth__social-networks {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 10px;
	padding-bottom: 15px;
	width: 100%;
}

.auth__alert-error {
	background-color: red;
	border-radius: 5px;
	color: white;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	padding: 4px;
}
